# Database
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/smart_space_booking?schema=public"

# JWT
JWT_SECRET="your_jwt_secret_here"
JWT_EXPIRES_IN="7d"

# App
PORT=3000
NODE_ENV=development

# Upload
UPLOAD_PATH="./uploads"
BASE_URL="http://localhost:3000"
